<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/StyleSheet.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    @*Contenedor para toda la pagina*@
    <div class="container">

        @*Contenedor para la barra de navegacion*@
        <div class="navbar mb">
            <div class="navbar-brand">ACME: Visitas</div>
            <ul>
                <li>
                    <a href="~/Visitas/index"></a>
                </li>
            </ul>
        </div>


        @*Contenido de la pagina*@
        <div class="page-content">
            @RenderBody()
        </div>
    </div>
</body>
</html>